<div class="user-details">
  <h1>My Expertise</h1>
  {% assign expertises = site.author.expertise | newline_to_br | split: '<br />' %}
  {% for e in expertises %}
  <p>{{ e }}</p>
  {% endfor %}
</div>
<div class="user">
  <div class="tech">
    <h2>Cloud</h2>
    <p class="col-md-4"><i class="fa fa-5x fa-cloud"></i></p>
    <p>With more than 5 years of experience in cloud native projects, I can help
        you to move your infrastructure to the Cloud. And so helping you to ship
        code faster and reduce time to market when you got new ideas.</p>
  </div>
  <div class="tech">
    <h2>Infrastructure</h2>
    <p class="col-md-4"><i class="fa fa-5x fa-server"></i></p>
    <p>As an Infrastructure Engineer, I have worked on core infrastructure for
        different projects in order to set up CI/CD pipeline as well as designing
        highly available and scalable production environment.</p>
  </div>
  <div class="tech">
    <h2>Networking</h2>
    <p class="col-md-4"><i class="fa fa-5x fa-wifi"></i></p>
    <p>Still in the Cloud but also on-premise, I can help you to size and deploy
        networks with different requirements (i.e. routing, subnets, VLANs,
        SSIDs, VPN, ...) but also deploy VPN solution to increase your
        connectivity.</p>
  </div>
  <div class="tech">
    <h2>Security</h2>
    <p class="col-md-4"><i class="fa fa-5x fa-shield"></i></p>
    <p>As machines become more integral to our lifes, security is becoming an
        increasingly important topic. I can help you with solutions like
        encryption, isolation but also best practice (i.e. least privilege
        principale, zero-trust).</p>
  </div>
</div>
