<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.author.name }}</span>
        <span class="site-description">{{ site.author.title }}</span>
      </h1>
      <div class="header-icons">
        {% if site.author.email %}
        <a aria-label="Send email" href="mailto:{{ site.author.email }}"><i class="icon fa fa-envelope"></i></a>
        {% endif %}
        {% if site.author.phone %}
        <a aria-label="Call" href="tel:{{ site.author.phone }}"><i class="icon fa fa-phone" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.author.twitter %}
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{ site.author.twitter }}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.author.facebook %}
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/{{ site.author.facebook }}"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.author.linkedin %}
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{ site.author.linkedin }}"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.author.github %}
        <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.author.github }}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        {% endif %}
      </div>
      <div class="header-links">
        <a class="link" target="_blank" href="https://www.gbergeret.org">About Me</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
